.we_gallery-theme-basic .we_gallery_snaps { background:#DDD; }
.we_gallery-theme-basic .we_gallery_snaps .we_gallery_snaps-inner {  }
/* Corners */
.we_gallery-theme-basic .we_gallery-snap .corn-tl,
.we_gallery-theme-basic .we_gallery-snap .corn-tr,
.we_gallery-theme-basic .we_gallery-snap .corn-br,
.we_gallery-theme-basic .we_gallery-snap .corn-bl { background:green url('images/snap_corner.png'); width:15px; height:15px; /* snaps border width */ }
.we_gallery-theme-basic .we_gallery-snap .corn-tl { background-position:-50px -50px; }
.we_gallery-theme-basic .we_gallery-snap .corn-tr { background-position:-235px -50px; }
.we_gallery-theme-basic .we_gallery-snap .corn-br { background-position:-235px -235px; }
.we_gallery-theme-basic .we_gallery-snap .corn-bl { background-position:-50px -235px; }
/* Borders */
.we_gallery-theme-basic .we_gallery-snap .border-t,
.we_gallery-theme-basic .we_gallery-snap .border-b { height:15px; /* snaps border width */ background:orange url('images/snap_border-h.png') repeat-x; }
.we_gallery-theme-basic .we_gallery-snap .border-t { background-position:center -50px; }
.we_gallery-theme-basic .we_gallery-snap .border-b { background-position:center -235px; }
.we_gallery-theme-basic .we_gallery-snap .border-l,
.we_gallery-theme-basic .we_gallery-snap .border-r { width:15px; /* snaps border width */ background:orange url('images/snap_border-v.png') repeat-y; }
.we_gallery-theme-basic .we_gallery-snap .border-l { background-position:-50px center; }
.we_gallery-theme-basic .we_gallery-snap .border-r { background-position:-235px center; }
/* Link */
.we_gallery-theme-basic .we_gallery-snap a.we_gallery-snap-link { box-shadow:inset 0 0 4px #555; }
/* Image */
.we_gallery-theme-basic .we_gallery-snap-image { background-color:blue; }
/* Pagers head / bottom */
.we_gallery-theme-basic .we_gallery_pager-pager { background-color:#96c; }
.we_gallery-theme-basic .we_gallery_pager-pager tbody { border:0; }
.we_gallery-theme-basic .we_gallery_pager-pager a { display:block; background:url('images/pager-arrows.png'); width:40px; height:40px; padding:0; }
.we_gallery-theme-basic .we_gallery_pager-pager .we_gallery_pager-page_num-text { display:none; }

.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_first { 	background-position:0px 0px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_prev { 	background-position:-40px -0px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-page_num {           background-position:-80px -0px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_next { 	background-position:-120px -0px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_last { 	background-position:-160px -0px; }

.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_first:hover { 	background-position:0px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_prev:hover { 	background-position:-40px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-page_num:hover {             background-position:-80px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_next:hover { 	background-position:-120px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_last:hover { 	background-position:-160px -40px; }

.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_first.active { 	background-position:0px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_prev.active { 	background-position:-40px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-page_num.active {             background-position:-80px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_next.active { 	background-position:-120px -40px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_last.active { 	background-position:-160px -40px; }

.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_first.disabled { background-position:0px -80px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_prev.disabled { 	background-position:-40px -80px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-page_num.disabled {          background-position:-80px -80px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_next.disabled { 	background-position:-120px -80px; }
.we_gallery-theme-basic .we_gallery_pager-pager a.we_gallery_pager-pager-arrow_last.disabled { 	background-position:-160px -80px; }

/* Pager sides */
.we_gallery-theme-basic .we_gallery_pager-arrow { background:red; }
.we_gallery-theme-basic .we_gallery_pager-arrow .we_gallery_pager-page_num-inner { width:40px; height:40px; background:url('images/pager-arrows.png'); }
.we_gallery-theme-basic .we_gallery_pager-arrow .we_gallery_pager-page_num-text { display:none; }

.we_gallery-theme-basic .we_gallery_pager-arrow_prev          .we_gallery_pager-page_num-inner { background-position:-40px 0;}
.we_gallery-theme-basic .we_gallery_pager-arrow_prev:hover    .we_gallery_pager-page_num-inner { background-position:-40px -40px;}
.we_gallery-theme-basic .we_gallery_pager-arrow_prev.disabled .we_gallery_pager-page_num-inner { background-position:-40px -80px;}

.we_gallery-theme-basic .we_gallery_pager-arrow_next          .we_gallery_pager-page_num-inner { background-position:-120px 0;}
.we_gallery-theme-basic .we_gallery_pager-arrow_next:hover    .we_gallery_pager-page_num-inner { background-position:-120px -40px;}
.we_gallery-theme-basic .we_gallery_pager-arrow_next.disabled .we_gallery_pager-page_num-inner { background-position:-120px -80px;}