#we_devel_console_header { border-bottom:1px solid #111; padding-bottom:4px; margin-bottom:10px; }
#we_devel_console { position:fixed; margin:15px; background:#000; -moz-border-radius:5px; -webkit-border-radius:5px; width:500px; padding:4px; padding-right:0; opacity:.9; }
#we_devel_console_lines { overflow-y:auto; width:490px; padding-right:5px; margin-bottom:5px; }
.we_devel_console_opener { background:url('../images/button_close.png') no-repeat; display:block; float:right; width:30px; height:20px; text-align:center; margin-top:-20px; margin-right:5px; }
#we_devel_console_area { opacity:.9; width:30px; height:20px; padding:5px; margin:5px; background:#000; -moz-border-radius:5px; -webkit-border-radius:5px; right:0; bottom:0; position:fixed; }
#we_devel_console_area .we_devel_console_opener { margin:0; background-position:0 -20px; }
.we_devel_line, .we_devel_group, .we_devel_childs .we_devel_line { background:#111; border:1px solid #444; margin-bottom:4px; }
.we_devel_line { padding:2px 6px; }
.we_devel_line_info_name { font-weight:bold; color:#888; margin-right:4px; }
.we_devel_line_info_type { margin-right:8px; }
.we_devel_line_info_string { font-weight:bold; color:#FFF; }
.we_devel_line_info_time { float:right; color:#FFF; opacity:.1; }
.we_devel_group_title .we_devel_line { cursor:pointer; margin:0; border:0; display:block; background:#333; color:#888; padding:2px 6px; }
.we_devel_line_object_childs { margin:6px 4px 2px 10px; }
.we_devel_console textarea { display:block; clear:both; width:100%; background:none; margin:0 0 0 -3px; border:0; }