/*
 * System CSS of we_gallery. Do not remove, these styles are required
 * Other CSS specified by we themes have to override this one.
 */
.we_gallery { margin:0 auto; }
.we_gallery-nojs { overflow:scroll; }
.we_gallery-nojs .we_gallery_pager { display:none; }
.we_gallery-nojs .we_gallery-snap { text-align:center; }
/* Snaps */
.we_gallery-snap-link { display:block; text-decoration:none; top:0; }
.we_gallery_snaps { position:relative; overflow:hidden; }
.we_gallery_snaps-inner { position:relative; }
.we_gallery_snaps-hover { position:relative; }
.we_gallery-snap-image { background:#FFFFFF no-repeat center; }
/* Corners */
.we_gallery-snap .corn-tl,
.we_gallery-snap .corn-tr,
.we_gallery-snap .corn-br,
.we_gallery-snap .corn-bl { position:absolute; display:block; }
/* Borders */
.we_gallery-snap .border-t,
.we_gallery-snap .border-b,
.we_gallery-snap .border-r,
.we_gallery-snap .border-l { position:absolute; display:block; }
/* Pagers */
.we_gallery_pager-arrow { display:block; float:left; }
.we_gallery_pager-arrow_prev { float:left; }
.we_gallery_pager-arrow_next { float:right; }

.we_gallery_pager-pager table { margin:0 auto; width:inherit; }
.we_gallery_pager-pager td { text-align: center; }